@import "_minix.scss";
@import "common.scss";

    .wrapper{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        overflow:hidden;
    }
    header{
        width:100%;    
        height:auto;
        .header-top{
            width:100%;          
            height:pxTorem(40px);
            padding:pxTorem(5px);
            display:flex;
            justify-content:space-between;
           h4{
               font-size:pxTorem(18px);
               margin-top:pxTorem(5px);
           }
            p{
                width:pxTorem(70px);
                height:pxTorem(28px);
                border:1px solid #ccc;
                border-radius:pxTorem(20px);       
                margin-top:pxTorem(5px);
                margin-right:pxTorem(10px);
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
        p{
            width:96%;
            height:pxTorem(40px);
            background:#f0f1f2;
            margin:0 auto;
            display:flex;
            border-radius:pxTorem(10px);
            i{
                text-indent:pxTorem(12px);
                margin-top:pxTorem(10px);
            }
            input{
                height:70%;
                margin-top:pxTorem(5px);
            }
        }
     
   
    }
    section{
        width:100%;
        height:100%;
        overflow:hidden;
         flex:1;
        .container{
            width:100%;
            height:pxTorem(220px);
            flex-direction:column;
            align-items:center;
            .swrapper{
                width:100%;
                height:pxTorem(180px);
                display:flex;    
          
                .swiper-slide{
                    width:100%;
                    height:100%;
                  
                    ul{
                        width:100%;
                        height:70%;
                        display:flex;
                        flex-wrap:wrap;
                        padding:pxTorem(4px);
                        li{
                            width:19%;
                            height:74%; 
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            img{
                                width:100%;
                                height:70%;
                            } 
                            i{
                                padding:pxTorem(2px);
                                font-size:pxTorem(14px);
                            }  
                        }
                    }
                  
                }
               
            }
            
        }
        #scroll{
            width:100%;        
            height:auto;    
            overflow:hidden;
            ul{
                width:190%;
                display:flex;
                flex-wrap:nowrap;
                li{
                    flex-shrink:0;
                    width:15%;
                    height:pxTorem(130px);
                    display:flex;
                    flex-direction:column;
                    img{
                        width:90%;
                        height:50%;
                        padding:pxTorem(5px);
                    }
                    i{
                        width:90%;
                        height:pxTorem(15px);
                        overflow:hidden;
                        text-overflow:ellipsis;
                        display:-webkit-box;
                        -webkit-line-clamp:1;
                        -webkit-box-orient:vertical;
                        text-indent:pxTorem(10px);
                        font-size:pxTorem(12px);

                    }
                    span{
                        height:pxTorem(20px);
                        color:#fe3931;
                        display:flex;
    
                        i{
                            width:50%;
                            font-size:pxTorem(16px);
                        }
                        u{
                            width:50%;
                            border:1px solid #fe3931;
                            font-size:pxTorem(10px);
                            text-decoration:none;
                            border-radius:pxTorem(5px);
                            line-height:pxTorem(20px);
                        }
                    }
                    p{
                    font-size:pxTorem(12px);
                    color:#ccc;
                    text-indent:pxTorem(10px);
                    }
                    
                    
                }
            } 
        }
       
    }
    footer{
        width:100%;
        height:pxTorem(40px);
        ul{
            display:flex;
            li{
                display:flex;
                flex-direction:column;
                align-items:center;
                width:30%;
                i{
                
                }
                span{
                    font-size:pxTorem(10px);
                }
            }
        }
    }